@import "tailwindcss";

@theme{
  --color-ff:
}



@layer components  {
  .nav-bar {
@apply flex items-center justify-between px-4 py-3 gap-8 shadow
  }
  .nav-logo-link {
    @apply flex items-center shrink-0 cursor-pointer
  }
  .btn-register{
    @apply text-white hover:bg-cyan-600 cursor-pointer transition-all duration-700 bg-cyan-500 border border-cyan-50  rounded-2xl py-1 px-4 
  }
  .btn-sign-in{
    @apply hover:bg-cyan-100 hover:text-cyan-900 transition-all duration-300  py-1 px-4  text-gray-800  rounded-2xl  cursor-pointer
  }
  .btn-lg-register{
    @apply text-white hover:bg-cyan-600 cursor-pointer transition-all duration-700 bg-cyan-500 border border-cyan-50  rounded-2xl p-1
  }
  .btn-lg-sign-in{
    @apply hover:bg-cyan-100 hover:text-cyan-900 transition-all duration-300  p-1  text-gray-800  rounded-2xl  cursor-pointer
  }
  .search-input {
    @apply shadow bg-gray-50  w-full  rounded-full h-full px-11 text-sm focus:outline-cyan-500 focus:bg-white
  }
  .search-container {
    @apply relative  self-stretch grow
  }
  .search-icon {
    @apply absolute top-1/2 -translate-y-1/2 pl-3.5 shrink-0 text-gray-400 peer-focus:text-cyan-500
  }
  .search-cancel {
    @apply absolute right-0 top-1/2 pr-3.5 -translate-y-1/2 shrink-0 hidden peer-focus:block text-gray-400 hover:text-black
  }
  .btn-auth-container{
    @apply  hidden lg:flex gap-4
  }
  .btn-auth-side-container {
    @apply space-y-3 px-10 py-3  flex flex-col
  }
  .menu-icon{
    @apply  hover:bg-gray-100 rounded-lg transition duration-200 px-2 cursor-pointer shrink-0
  }
  .menu-cancel {
    @apply hover:bg-gray-100 rounded-lg transition duration-200 px-2 cursor-pointer
  }
  .menu-header {
    @apply flex justify-between p-4 items-center border-b
  }
  .menu-container {
    @apply fixed right-0 top-0 h-screen z-50 bg-white transition-all ease-in-out shadow-lg duration-300 w-full sm:w-100
  }
  .hero-container {
    @apply flex bg-linear-to-br from-indigo-50 to-white flex-col gap-y-5 px-4 py-15 lg:flex-row lg:items-center lg:gap-x-5
  }
  .hero-btn-auth-wrapper {
    @apply flex flex-col space-y-4 min-[635px]:flex-row  min-[635px]:items-center gap-x-6
  }
  .hero-btn-signup{
    @apply  rounded-lg bg-linear-to-r from-blue-300 to-indigo-100 font-semibold py-2 text-lg space-x-1 cursor-pointer hover:from-blue-400 hover:to-indigo-200 transition-colors duration-700 min-[635px]:self-start min-[635px]:px-5  
  }
  .hero-btn-signin {
    @apply border-2 hover:bg-gray-50 transition-colors duration-500 border-cyan-100 rounded-lg bg-white font-semibold py-1.5 text-lg shadow cursor-pointer min-[635px]:self-start  min-[635px]:px-8  
  }
  .flex-2-center{
    @apply flex gap-x-2 items-center

  }
  .hero-2-wrapper{
    @apply bg-white shadow-lg rounded-lg p-3 flex-1 
  }
  .hero-2-card {
    @apply  px-5 py-4 flex gap-x-2 items-center
  }
  .why-logo {
    @apply group-hover:scale-104  text-white p-3 rounded-lg mb-3 bg-cyan-600
  }
  
}

@layer utilities{
  .nav-text-link{
   @apply text-2xl hidden sm:block
  }
  .text-48-bold{
    @apply text-5xl font-bold leading-14 lg:text-6xl
  
  }
  .text-20-gray{

    @apply text-xl text-gray-500
  }
  
}



.hero-card-texts h3 {
  @apply font-semibold
}

.hero-card-texts p {
  @apply text-sm text-gray-600
}
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
